<div class="modal-wrapper">
    <div class="type-choice">
        <button 
            mat-stroked-button 
            color="primary" 
            type="button" 
            (click)="openTextInput()">Text
        </button>
        <button 
            mat-stroked-button 
            color="primary"  
            type="button" 
            (click)="openImageInput()">Image
        </button>

    </div>
    <form [formGroup]="textForm" class="form" *ngIf="inputTextOpened">
        <mat-form-field>
            <mat-label>Enter your annotation</mat-label>
            <textarea 
                matInput 
                cdkTextareaAutosize 
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                type="text" 
                formControlName="annotation"></textarea>
        </mat-form-field> 
        <button 
            mat-raised-button 
            type="submit" 
            [disabled]="textForm.invalid"
            (click)="submitText()">Submit</button>
    </form>

    <form [formGroup]="imageForm" class="form" *ngIf="inputImageOpened">
        <input type="file" formControlName="image" class="image-input" (change)="onFileSelected($event)">
        <button 
            mat-raised-button 
            type="submit" 
            [disabled]="imageForm.invalid"
            (click)="submitImage()">Submit</button>
    </form>
</div>

