<div class="modal-wrapper">
    <form [formGroup]="form" class="form">
        <mat-form-field>
            <mat-label>Enter your annotation</mat-label>
            <textarea 
                matInput 
                cdkTextareaAutosize 
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                type="text" 
                formControlName="annotation"></textarea>
        </mat-form-field>  
        <mat-form-field>
            <ngx-mat-file-input formControlName="image">
            </ngx-mat-file-input>            
        </mat-form-field>    
        <button 
            mat-raised-button 
            type="submit" 
            [disabled]="form.invalid"
            (click)="submit()">Submit</button>
    </form>
</div>

