.modal-wrapper {
    padding: 20px;
    .type-choice {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        button {
            width: 100px;
        }
    }
    
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        mat-form-field {
            width: 100%;
        }

        .image-input {
            margin-bottom: 20px;
            width: 80%;
        }
      }     
      
}
